<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIZZA WEBSITE</title>
</head>
<body>
    <h1>Welcome to Express Pizza!</h1>
    <h2>Specialty Pizza</h2>
    <nav>
        <a href="/specialtyPizza?name=Anchovy+Lover's&price=10">Anchovy Lover's</a>
        <a href="/specialtyPizza?name=Paleo+Pizza&price=12">Paleo Pizza</a>
        <a href="/specialtyPizza?name=Derrert+Pizza&price=15">Dessert Pizza</a>
    </nav>

    <h2> Custom Pizza</h2>
    <nav>
        <a href="/buildYourOwn">Build your own pizza!</a>
    </nav>

    <h2> Leave a review </h2>
    <nav>
        <a href="/review">Click here to leave a review!</a>
    </nav>
    </br>
    <img src="pizzaa.png">
</body>
</html>