<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialty Pizza</title>
</head>
<body>
    <h1>Specialty Pizza</h1>
    <p>Name: {{nameOfPizza}}</p>
    <p>Price: ${{pizzaPrice}}</p>
    <nav>
        <a href="/">Back to Homepage</a>
    </nav>

</body>
</html>