<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for the review!</title>
</head>
<body>
    <h1>Thanks for the review!</h1>
    <h2>Your name: {{yourName}}</h2>
    <h2>Comment: {{comment}}</h2>
    <h2>Rating: {{rating}}</h2>
    <nav>
        <a href="/">Back to Homepage</a>
    </nav>
</body>
</html>