<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Pizza</title>
</head>
<body>
    <h1>Your Pizza</h1>
    <h2>Size: {{}}</h2>
    <h2>Toppings: {{}}</h2>
    <h2>Gluten-Free Crust: {{}}</h2>
    <h2> Specialty Instructions: {{instructions}}</h2>
    <h2>Price: $ {{price}}</h2>
    <!-- Because your order meets the $15.00 minimum, you ger FREE DELIVETY!! -->
    <nav>
        <a href="/buildYourOwn">Build another pizza</a>
        <a href="/">Back to Homepage</a>
    </nav>
</body>
</html>